args==0.1.0
attrs==19.3.0
boto3==1.10.28
botocore==1.13.28
clint==0.5.1
coverage==4.5.4
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
importlib-metadata==0.23
jmespath==0.9.4
mccabe==0.6.1
more-itertools==7.2.0
packaging==19.2
pluggy==0.13.1
prompt-toolkit==1.0.14
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.5.1
PyInquirer==1.0.3
pyparsing==2.4.5
pytest==5.3.1
pytest-cov==2.8.1
python-dateutil==2.8.0
regex==2019.11.1
s3transfer==0.2.1
six==1.13.0
urllib3==1.26.5
wcwidth==0.1.7
zipp==0.6.0
